.new-feed__articles {
  border: 1px solid lightgrey;
  border-radius: 20px;
  width: fit-content;
  margin: 0 auto;
  margin-top: 20px;
}

.articles-list {
  margin-top: 0;
  list-style: none;
  text-align: left;
  padding: 20px;
  width: 100vh;
}